<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.workout.app.trainer.dao.TrainerDao">

<insert id="insertJoin" parameterType="trainer">
	INSERT INTO TB_TRNR (
		  TRNR_ID
	    , TRNR_PW
	    , TRNR_NAME
	    , TRNR_GENDER
	    , TRNR_PHOTO
	    , TRNR_INTRO
	    , TRNR_AMT
	    , CONSULT_YN
	    , REFUSAL_YN
	    , TRNR_LIKE
	)
	VALUES
	(
		 #{trnrId}
		,#{trnrPw}
		,#{trnrName}
		,#{trnrGender}
		,#{trnrPhoto}
		,#{trnrIntro}
		,#{trnrAmt}
		,#{consultYn}
		,#{refusalYn}
		,#{trnrLike}
	)
</insert>

<select id="selectOneMember" resultType="trainer" parameterType="trainer">
	SELECT
		*
	FROM
		TB_TRNR
    WHERE TRNR_ID = #{trnrId}
    <if test='trnrPw != null and trnrPw != ""'>
      AND TRNR_PW = #{trnrPw}
    </if>
</select>

<update id="updateJoin" parameterType="trainer">
	UPDATE TB_TRNR
	   SET TRNR_NAME  = #{trnrName}      
	    , TRNR_GENDER = #{trnrGender}    
	    , TRNR_PHOTO  = #{trnrPhoto}     
	    , TRNR_INTRO  = #{trnrIntro}     
	    , TRNR_AMT    = #{trnrAmt}       
	    , CONSULT_YN  = #{consultYn}     
	    , REFUSAL_YN  = #{refusalYn}     
	    , TRNR_LIKE   = #{trnrLike}
	 WHERE TRNR_ID = #{trnrId}
</update>

</mapper>